tiktoken==0.11.0
pandas==2.3.2
spacy==3.8.7
pyarrow==21.0.0
langdetect==1.0.9
tqdm==4.67.1
sentence-transformers==5.1.0
openai==1.105.0
duckdb==1.4.0

## v2
langchain-experimental==0.3.4
langchain-openai==0.3.32
langchain-text-splitters==0.3.11
tiktoken==0.11.0
nltk==3.9.1
pyreadr==0.5.3